a {
    cursor: pointer;
    text-decoration: none;
}

.style-jqrvl2ai button.style-jqrvl2ailink {width:100%;}
.style-jqrvl2ai[data-state~="shouldUseFlex"] .style-jqrvl2ailink,.style-jqrvl2ai[data-state~="shouldUseFlex"] .style-jqrvl2ailabelwrapper {text-align:initial;display:flex;align-items:center;}
.style-jqrvl2ai[data-state~="shouldUseFlex"][data-state~="center"] .style-jqrvl2ailink,.style-jqrvl2ai[data-state~="shouldUseFlex"][data-state~="center"] .style-jqrvl2ailabelwrapper {justify-content:center;}
.style-jqrvl2ai[data-state~="shouldUseFlex"][data-state~="left"] .style-jqrvl2ailink,.style-jqrvl2ai[data-state~="shouldUseFlex"][data-state~="left"] .style-jqrvl2ailabelwrapper {justify-content:flex-start;}
.style-jqrvl2ai[data-state~="shouldUseFlex"][data-state~="right"] .style-jqrvl2ailink,.style-jqrvl2ai[data-state~="shouldUseFlex"][data-state~="right"] .style-jqrvl2ailabelwrapper {justify-content:flex-end;}
.style-jqrvl2ai[data-disabled="false"] {cursor:pointer;}
.style-jqrvl2ai[data-disabled="false"]:active[data-state~="mobile"] .style-jqrvl2ailabel,.style-jqrvl2ai[data-disabled="false"]:hover[data-state~="desktop"] .style-jqrvl2ailabel,.style-jqrvl2ai[data-disabled="false"][data-preview~="hover"] .style-jqrvl2ailabel {color:#995C55;transition:color 0.4s ease 0s;}
.style-jqrvl2ailink {position:absolute;top:0;right:0;bottom:0;left:0;}
.style-jqrvl2ailabel {font:normal normal normal 16px/1.4em caudex,serif;  transition:color 0.4s ease 0s;  color:#F29485;white-space:nowrap;display:inline-block;}
.style-jqrvl2ai[data-disabled="true"] .style-jqrvl2ailabel,.style-jqrvl2ai[data-preview~="disabled"] .style-jqrvl2ailabel {color:#FFFFFF;}


.style-jqrvm4mt button.style-jqrvm4mtlink {width:100%;}
.style-jqrvm4mt[data-state~="shouldUseFlex"] .style-jqrvm4mtlink,.style-jqrvm4mt[data-state~="shouldUseFlex"] .style-jqrvm4mtlabelwrapper {text-align:initial;display:flex;align-items:center;}
.style-jqrvm4mt[data-state~="shouldUseFlex"][data-state~="center"] .style-jqrvm4mtlink,.style-jqrvm4mt[data-state~="shouldUseFlex"][data-state~="center"] .style-jqrvm4mtlabelwrapper {justify-content:center;}
.style-jqrvm4mt[data-state~="shouldUseFlex"][data-state~="left"] .style-jqrvm4mtlink,.style-jqrvm4mt[data-state~="shouldUseFlex"][data-state~="left"] .style-jqrvm4mtlabelwrapper {justify-content:flex-start;}
.style-jqrvm4mt[data-state~="shouldUseFlex"][data-state~="right"] .style-jqrvm4mtlink,.style-jqrvm4mt[data-state~="shouldUseFlex"][data-state~="right"] .style-jqrvm4mtlabelwrapper {justify-content:flex-end;}
.style-jqrvm4mt[data-disabled="false"] {cursor:pointer;}
.style-jqrvm4mt[data-disabled="false"]:active[data-state~="mobile"] .style-jqrvm4mtlabel,.style-jqrvm4mt[data-disabled="false"]:hover[data-state~="desktop"] .style-jqrvm4mtlabel,.style-jqrvm4mt[data-disabled="false"][data-preview~="hover"] .style-jqrvm4mtlabel {color:#995C55;transition:color 0.4s ease 0s;}
.style-jqrvm4mtlink {position:absolute;top:0;right:0;bottom:0;left:0;}
.style-jqrvm4mtlabel {font:normal normal normal 16px/1.4em caudex,serif;  transition:color 0.4s ease 0s;  color:#F29485;white-space:nowrap;display:inline-block;}
.style-jqrvm4mt[data-disabled="true"] .style-jqrvm4mtlabel,.style-jqrvm4mt[data-preview~="disabled"] .style-jqrvm4mtlabel {color:#FFFFFF;}

.style-jqrvo07r button.style-jqrvo07rlink {width:100%;}
.style-jqrvo07r[data-state~="shouldUseFlex"] .style-jqrvo07rlink,.style-jqrvo07r[data-state~="shouldUseFlex"] .style-jqrvo07rlabelwrapper {text-align:initial;display:flex;align-items:center;}
.style-jqrvo07r[data-state~="shouldUseFlex"][data-state~="center"] .style-jqrvo07rlink,.style-jqrvo07r[data-state~="shouldUseFlex"][data-state~="center"] .style-jqrvo07rlabelwrapper {justify-content:center;}
.style-jqrvo07r[data-state~="shouldUseFlex"][data-state~="left"] .style-jqrvo07rlink,.style-jqrvo07r[data-state~="shouldUseFlex"][data-state~="left"] .style-jqrvo07rlabelwrapper {justify-content:flex-start;}
.style-jqrvo07r[data-state~="shouldUseFlex"][data-state~="right"] .style-jqrvo07rlink,.style-jqrvo07r[data-state~="shouldUseFlex"][data-state~="right"] .style-jqrvo07rlabelwrapper {justify-content:flex-end;}
.style-jqrvo07r[data-disabled="false"] {cursor:pointer;}
.style-jqrvo07r[data-disabled="false"]:active[data-state~="mobile"] .style-jqrvo07rlabel,.style-jqrvo07r[data-disabled="false"]:hover[data-state~="desktop"] .style-jqrvo07rlabel,.style-jqrvo07r[data-disabled="false"][data-preview~="hover"] .style-jqrvo07rlabel {color:#995C55;transition:color 0.4s ease 0s;}
.style-jqrvo07rlink {position:absolute;top:0;right:0;bottom:0;left:0;}
.style-jqrvo07rlabel {font:normal normal normal 16px/1.4em caudex,serif;  transition:color 0.4s ease 0s;  color:#F29485;white-space:nowrap;display:inline-block;}
.style-jqrvo07r[data-disabled="true"] .style-jqrvo07rlabel,.style-jqrvo07r[data-preview~="disabled"] .style-jqrvo07rlabel {color:#FFFFFF;}


.style-jqrvo07r button.style-jqrvo07rlink {width:100%;}
.style-jqrvo07r[data-state~="shouldUseFlex"] .style-jqrvo07rlink,.style-jqrvo07r[data-state~="shouldUseFlex"] .style-jqrvo07rlabelwrapper {text-align:initial;display:flex;align-items:center;}
.style-jqrvo07r[data-state~="shouldUseFlex"][data-state~="center"] .style-jqrvo07rlink,.style-jqrvo07r[data-state~="shouldUseFlex"][data-state~="center"] .style-jqrvo07rlabelwrapper {justify-content:center;}
.style-jqrvo07r[data-state~="shouldUseFlex"][data-state~="left"] .style-jqrvo07rlink,.style-jqrvo07r[data-state~="shouldUseFlex"][data-state~="left"] .style-jqrvo07rlabelwrapper {justify-content:flex-start;}
.style-jqrvo07r[data-state~="shouldUseFlex"][data-state~="right"] .style-jqrvo07rlink,.style-jqrvo07r[data-state~="shouldUseFlex"][data-state~="right"] .style-jqrvo07rlabelwrapper {justify-content:flex-end;}
.style-jqrvo07r[data-disabled="false"] {cursor:pointer;}
.style-jqrvo07r[data-disabled="false"]:active[data-state~="mobile"] .style-jqrvo07rlabel,.style-jqrvo07r[data-disabled="false"]:hover[data-state~="desktop"] .style-jqrvo07rlabel,.style-jqrvo07r[data-disabled="false"][data-preview~="hover"] .style-jqrvo07rlabel {color:#995C55;transition:color 0.4s ease 0s;}
.style-jqrvo07rlink {position:absolute;top:0;right:0;bottom:0;left:0;}
.style-jqrvo07rlabel {font:normal normal normal 16px/1.4em caudex,serif;  transition:color 0.4s ease 0s;  color:#F29485;white-space:nowrap;display:inline-block;}
.style-jqrvo07r[data-disabled="true"] .style-jqrvo07rlabel,.style-jqrvo07r[data-preview~="disabled"] .style-jqrvo07rlabel {color:#FFFFFF;}


.style-jqrvp6ep button.style-jqrvp6eplink {width:100%;}
.style-jqrvp6ep[data-state~="shouldUseFlex"] .style-jqrvp6eplink,.style-jqrvp6ep[data-state~="shouldUseFlex"] .style-jqrvp6eplabelwrapper {text-align:initial;display:flex;align-items:center;}
.style-jqrvp6ep[data-state~="shouldUseFlex"][data-state~="center"] .style-jqrvp6eplink,.style-jqrvp6ep[data-state~="shouldUseFlex"][data-state~="center"] .style-jqrvp6eplabelwrapper {justify-content:center;}
.style-jqrvp6ep[data-state~="shouldUseFlex"][data-state~="left"] .style-jqrvp6eplink,.style-jqrvp6ep[data-state~="shouldUseFlex"][data-state~="left"] .style-jqrvp6eplabelwrapper {justify-content:flex-start;}
.style-jqrvp6ep[data-state~="shouldUseFlex"][data-state~="right"] .style-jqrvp6eplink,.style-jqrvp6ep[data-state~="shouldUseFlex"][data-state~="right"] .style-jqrvp6eplabelwrapper {justify-content:flex-end;}
.style-jqrvp6ep[data-disabled="false"] {cursor:pointer;}
.style-jqrvp6ep[data-disabled="false"]:active[data-state~="mobile"] .style-jqrvp6eplabel,.style-jqrvp6ep[data-disabled="false"]:hover[data-state~="desktop"] .style-jqrvp6eplabel,.style-jqrvp6ep[data-disabled="false"][data-preview~="hover"] .style-jqrvp6eplabel {color:#995C55;transition:color 0.4s ease 0s;}
.style-jqrvp6eplink {position:absolute;top:0;right:0;bottom:0;left:0;}
.style-jqrvp6eplabel {font:normal normal normal 16px/1.4em caudex,serif;  transition:color 0.4s ease 0s;  color:#F29485;white-space:nowrap;display:inline-block;}
.style-jqrvp6ep[data-disabled="true"] .style-jqrvp6eplabel,.style-jqrvp6ep[data-preview~="disabled"] .style-jqrvp6eplabel {color:#FFFFFF;}

#mask-comp-jqrv4y91img-svg * {fill: #fff; stroke: #fff; stroke-width: 0;}

#citrinlineContent {
    height: auto;
    width: 100%;
}

#citrinlineContent-gridWrapper {
    pointer-events: none;
}

#citrinlineContent-gridContainer {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 500px;
    grid-template-rows: min-content min-content min-content 1fr;
    grid-template-columns: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
}

#WRchTxtg {
    position: relative;
    margin: 26px 0px 10px calc((100% - 980px) * 0.5);
    left: 28px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jqrv4y91 {
    position: relative;
    margin: 4px 0px 35px calc((100% - 980px) * 0.5);
    left: 45px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jqrvi07q {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 60px;
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jqrv63nm {
    position: relative;
    margin: 4px 0px 35px calc((100% - 980px) * 0.5);
    left: 271px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jqrvll3i {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 286px;
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jqrvbeps {
    position: relative;
    margin: 4px 0px 33px calc((100% - 980px) * 0.5);
    left: 505px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jqrvn92l {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 515px;
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jqrveb2g {
    position: relative;
    margin: 0px 0px 35px calc((100% - 980px) * 0.5);
    left: 737px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jqrvofao {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 751px;
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
}

#citrinlineContent-wedge-3 {
    visibility: hidden;
    height: 133px;
    width: 0;
    grid-area: 1 / 1 / 3 / 2;
}

#citrcenteredContent {
    position: relative;
}

#citrinlineContent-gridContainer > * {
    pointer-events: initial;
}

#citrinlineContent-gridContainer > [id$="-rotated-wrapper"] {
    pointer-events: none;
}

#citrinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
    pointer-events: initial;
}